@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700&display=swap');

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
  height: 100%;
  width: 100%;
}

.content{
  background-image: url("library-pic.jpg");
  height: 100vw;
  width: 100vw;
}

.home{
  background-image: url("library-pic.jpg");
  height: 100vw;
  width: 100vw;

}

.insert-form{

  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 8vw;
  margin-bottom: 5vw;
  display: inline-block;
  padding:20px;
  height: 25vw;
  width:60vw;
  position:relative;
  background: rgba(204, 204, 204, 0.5);
  overflow-y: scroll;

}

.buttons{

  margin-left: 20%;
  margin-right: 20%;
  margin-top: 0px;
  display: block;
  padding:0px;
  width:710px;
  position:relative;


}

.update-button{
  display: inline-block;
  background-color: green !important;
}


.delete-button{
  display: inline-block;
  background-color: red !important;
}

.insert-button{
  display: inline-block;
}

h1{
  margin-top: 0vw;
  margin-bottom: 10vw;

  color: black !important;
}

table {
  width: 100%;
  color: black;
  background-color: black;
}
th {
  margin-top: 10vw;
  background-color: grey;
  opacity: 1.0 !important;
  color: white;
  padding-left: 1vw !important;
}
tr {
  background-color: white;
  opacity: 0.6;
  color: black;
}

.query_description{
  background-color: white;
  opacity: 0.6;
  color: black;
}

.query-form{
    margin-left: 20vw;
    margin-right: 20vw;
    margin-top: 0vw;
    display: inline-block;
    padding:20px;
    height: 25vw;
    width:60vw;
    position:relative;
    background: rgba(204, 204, 204, 0.5);
    overflow-y: scroll;
}

.Queries{
  background-image: url("library-pic.jpg");
  height: 200vw;
  width:  100vw;
}
